body{
    position: relative;

}

.croix2{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: firebrick;
}

.croix2:hover{
    cursor: pointer;
}

.connectinterface{
    width: 40%;
    margin: 0 auto;
    background: rgb(201, 195, 255);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
    position: fixed;
}

.connection{
    font-size: 1em;
    padding: 10px;
    color: #000000;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.connection:hover{
    background: #06D85F;
}



nav.bg-light{
    background-color: #263238;
}


.page-footer {
    background-color: #263238;
    color: white;
}
hr{
    background-color:#28E5E4;
}

div.jumbotron{
    margin-bottom: 0px;
    border-radius: 0px;
    background-image: url("../Images/crayon.jpg");
}
p.lead.signbtn {
    text-align: center;
}
a.btn-primary{

}

a.btn-primary:hover{


}
.btn-outline-success{

}
a.btn-primary:active{

}

footer{
    background-color: black;
}

h2{
    color: red;
}